In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## An Overview of Statistical Learning

#### supervised and unsupervized statistical models can be used to understand data
#### supervised models involve predicting output based on input (regression, classification, dct)

#### unsupervised models have input but the output is not simply explainable by input (NN, GenAdvNet, Clustering, PCA)

In [8]:
wage = pd.read_csv(index_col=False,"data/Wage.csv")

SyntaxError: positional argument follows keyword argument (<ipython-input-8-4b086e6db325>, line 1)

In [7]:
wage.head()

,year,age,sex,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
231655,2006,18,1. Male,1. Never Married,1. White,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.318063,75.043154
86582,2004,24,1. Male,1. Never Married,1. White,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,2. No,4.255273,70.476020
161300,2003,45,1. Male,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.875061,130.982177
155159,2003,43,1. Male,2. Married,3. Asian,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,5.041393,154.685293
11443,2005,50,1. Male,4. Divorced,1. White,2. HS Grad,2. Middle Atlantic,2. Information,1. <=Good,1. Yes,4.318063,75.043154